@font-face {
	font-family: "Inter-Medium";
	src: url("/assets/fonts/Inter-Medium.woff2") format("woff2"), url("/assets/fonts/Inter-Medium.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter-SemiBold";
	src: url("/assets/fonts/Inter-SemiBold.woff2") format("woff2"), url("/assets/fonts/Inter-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Inter-Bold";
	src: url("/assets/fonts/Inter-Bold.woff2") format("woff2"), url("/assets/fonts/Inter-Bold.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; 
}
body {
	line-height: 1;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	background-color: #F8F8F8;
	width: 375px;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	padding: 17px 14px 15px 33px;
	margin-bottom: 32px;
}
.header__leftside {

}

.header__rightside {
	display: flex;
	column-gap: 5px;
}

.content__container {
	padding: 0 16px;
}

.content__title {
	font-family: "Inter-Bold";
	color: #0E0E11;
	font-size: 32px;
	line-height: 39px;
	margin-bottom: 8px;
}

.content__subtitle {
	font-family: "Inter-SemiBold";
	color: #575767;
	font-size: 14px;
	line-height: 17px;
	margin-bottom: 34px;
}

.content__subtitle::after {
	content: " ";
	display: inline-block;
	margin-top: 16px;
	height: 2px;
	width: 100%;
	background: #D0D0D0;
	opacity: 0.2;
	border-radius: 100px;
}

.todo__items {

}
.todo__head {
	color: #575767;
	font-family: "Inter-Bold";
	color: #0E0E11;
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 16px;
}

.todo {

}

.todo__incomplete {
	margin-bottom: 32px;
}

.list {

}

.list__title {
	color: #575767;
	font-family: 'Inter-Bold';
	font-size: 18px;
	line-height: 18px;
	margin: 0 0 16px 0;
}

.checkbox__title {
	color: #575767;
	font-family: 'Inter-Medium';
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 4px 0;
}

.checkbox__subtitle {
	font-family: 'Inter-SemiBold';
	font-size: 14px;
	line-height: 17px;
	color: #B9B9BE;
}

.todo__completed {
	position: relative;
	padding: 0 0 65px 0;
}

.checkbox {
	position: relative;
}

.checkbox:not(:last-child) {
	margin-bottom: 16px;
}

.checkbox__input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.checkbox__label {
	user-select:  none;
	display: flex;
	align-items: center;
	column-gap: 16px;
	cursor: pointer;
}

.checkbox__label::before {
	align-self: flex-start;
	flex: 0 0 24px;
	height: 24px;
	content: "";
	background-color: #FCFCFC;
	border-radius: 6px;
	border: 2px solid #DADADA;
}

.checkbox__input:checked + .checkbox__label::before{
	background: url(/assets/svg/checked.svg) no-repeat center;
	background-size: 10px;
}


.checkbox__input:checked + .checkbox__label {
	cursor: unset;
}

.checkbox__input:checked:disabled + .checkbox__label .checkbox__title {
	color: #B9B9BE;
}

.todo__add {
	cursor: pointer; 
	border-radius: 50%;
	position: absolute;
	bottom: 40px;
	right: 0;
	z-index: 2;
	box-shadow: 0 2px 8px rgba(0, 0, 0 , 0.25);
}

.todo__overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #000000cf;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.todo__modal-add-task {
    width: 350px;
    background-color: #fff;
}

input.todo__modal-add-task-input {
    border: 2px solid #c7c7c7;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    outline: none;
	margin-bottom: 20px;
}

.todo__modal-add-task-add-button {
    background: #c7c7c7;
    border-radius: 10px;
    border: 2px solid #bbb;
    padding: 10px 20px;
    color: #343434;
    font-weight: 600;
}

form.todo__modal-add-task-form {
    display: flex;
    flex-direction: column;
    padding: 30px;
}